page-login {

  .background {
    background-image: url('../assets/img/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    font-family: 'AnenirNext';


  }

  ion-card.card {
    box-shadow: none;
    color: #fff;
    background: #fff;
    border-radius: 5px;
  }

  .sp-left {
    float: left;
    text-align: left;
    color: #000;
  }

  .sp-right {
    float: right;
    text-align: right;
  }

  .button-block {
    display: block;
    clear: both;
    width: 90%;
    contain: strict;
    font-size: 1.4rem;
    text-transform: none !important;
    border-radius: 8px !important;
  }

  .button-md-blue {
    padding: 22px 0 !important;
  }

  .absolute {
    position: absolute;

    width: 90%;
    bottom: 10%;
  }

  .item.item-input:focus {

    border: 4px solid yellow !important;

    outline-color: blue !important;


  }

  .item.item-select {
    background: rgba(0, 0, 0, .1);
  }

  .item.item-input {
    background-color: transparent;
    // background: rgba(0, 0, 0, .1);
    border-radius: 0.5rem !important;
    border: 1px solid #1a426d;
  }

  .toolbar-background {
    color: #fff;
    background-color: #0B2265 !important;
    box-shadow: 0px !important;
    border-bottom: 0px !important;
  }

  .act {
    margin: 10% 0%;
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }


}
