// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  font-family: 'AnenirNext', 'Maven Pro';
}

// font-family: 'AnenirNext' !important;


@import '../theme/fonts';

.main-bg {
  // background-image: url('../assets/img/astro.jpg') !important;
  background-color: #fff !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.ion-list.list {
  background: transparent !important;
}

.bar-button-default-md {
  color: #fff;
}

.button-md-blue {
  padding: 25px 0 !important;
}

.normalToast {
  .toast-message {
    border-radius: 5.65rem !important;
    background: color($colors, white);
    color: color($colors, danger);
  }
}

.button-outline-md-blue {
  padding: 25px 0 !important;
}

.c-white {
  color: #fff !important;
}

.c-blue {
  color: #162e62 !important;
}

.text-center {
  text-align: center !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-25 {
  font-size: 25px !important;
}

.f-20 {
  font-size: 20px !important;
}

.transparent {
  background: transparent !important;
}

.wrap {
  overflow-wrap: break-word !important;
  word-wrap: break-word;
}

.blue-bg {
  // background-image: url('../assets/img/lighthouse.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.btn-bg {
  background: #fff;
  color: #000;
  border-bottom: 1px solid #fff !important;
}

.toolbar-background {
  color: #000;
  background: #fff !important;
  box-shadow: 0px !important;
  border: 0px !important;
}

.toolbar-title {
  color: #000;
}

ion-header.header-md {
  box-shadow: none !important;
  border-bottom: 0px !important;
}

.flexy {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.price {
  position: absolute;
  right: 15%;
  color: #2B3497;
}

.payment-info {
  position: absolute;
  right: 10%;
  overflow-wrap: break-word !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.toolbar-background {
  color: #fff;
  background-color: #0B2265 !important;
  box-shadow: 0px !important;
  border-bottom: 0px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.checkbox-checked .checkbox-inner {
  position: absolute;
  top: 9px;
  left: 13px;
  height: 22px;
  width: 5px;
}
