<div *ngIf="showSplash" class="splash">

  <div class="spinner" style="
  display:flex; justify-content:center; align-items:center; align-content:center;">
    <div class="let1"><img src="assets/img/royal.svg" alt="Smiley face"></div>
    <div class="let2"><img src="assets/img/box.svg" alt="Smiley face"></div>
    <div class="let3"><img src="assets/img/ex.svg" alt="Smiley face"></div>
  </div>

</div>

<ion-menu id="myMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title><img src="assets/img/logo.svg"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="blue-bg">
    <ion-list no-lines>
      <button class="btn-bg" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img item-left style="margin-right:5%;" [src]="p.svg"> {{p.name}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
